<a href="https://colab.research.google.com/github/whatever1262/collab_notebook/blob/main/Data_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**What are data types?**

- Python can store data of different types.
- These types can do different things.

In [2]:
total_salary = 110000
bonus_salary = 10000
total_salary + bonus_salary

120000

In [3]:
minus = total_salary - bonus_salary
minus

100000

In [4]:
job_id = 102
company_name = 'Data Nerd, Inc.'
job_title = 'Data Scientist'
salary_rate = 170000.00
job_work_from_home = True

In [5]:
# Check data types
print(type(job_id))
print(type(company_name))
print(type(job_title))
print(type(salary_rate))
print(type(job_work_from_home))

<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'bool'>