<a href="https://colab.research.google.com/github/whatever1262/collab_notebook/blob/main/Operators__part1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Notes**
Operators are used to perform operators on variables and values.

In this notebook, we'll go over the following operators groups:

  - Arithmetic operators
  - Assignment operators
  - Comparison operators


**Importance**
Arithmetic operators are essential for calculations, assignment operators for updating data, and comparison operators for filtering, all crucial for data analysis in libraries like Pandas and Matplotlib.

In [2]:
#some operations can be performed on non-numeric values
"What's up? " * 10

"What's up? What's up? What's up? What's up? What's up? What's up? What's up? What's up? What's up? What's up? "

In [3]:
"What's ".__add__("up?") #. __add__ is the magic method for the + operator

"What's up?"

In [4]:
#Numbers: But let's actually talk about the stuff you came here for
4 + 4

8

In [5]:
#floor division
5//2

2

In [6]:
5%2 #remainder of 5 divided by 2

1

In [7]:
print("5 divided by 2 is", 5//2, "with a ramainder of", 5%2)

5 divided by 2 is 2 with a ramainder of 1

In [8]:
min_salary = 20000
max_salary = 30000

average_salary = (min_salary + max_salary)/2
average_salary

25000.0

**Assignment Operators**

Assignment operators are used to assign values to variables.

In [9]:
x  = 10
y = 12

x, y = y, x #swap values

print("x is now: ", x)
print("y is now ", y)

x is now:  12
y is now  10

In [10]:
#add and assign
x = 1
x = x + 1 # not pythonic
x

2

In [11]:
x = 1
x += 1 #pythonic
x

2

**Comparison Operators**
Comparison operators compare two values and determine the rerlation between them.

In [13]:
1 == 1 # evaluates to True or False

True

In [14]:
1 == 3

False

In [16]:
salary_kai = 50_000
salary_alex = 70_000

salary_checker = (salary_kai == salary_alex)
salary_checker

False

In [17]:
type(salary_checker)

bool