<a href="https://colab.research.google.com/github/whatever1262/collab_notebook/blob/main/Python_Terms.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python Terms**

- Object
- Variable
- Function
- Class
- Method
- Attribute

Objects: The data records

In data analytics, an object is like a record in your spreadsheet. Each record can have multiple fields, such as job title, location, and salary.

**Object:** A data record with fields; an instance of a class.

In [25]:
"Data Analyst" # this a an object
"1262" # also an object

'1262'

**Variables: The Reference to Objects**

Think of a variable as a cell in an Excel spreadsheet. You can store data in it, like a number, text, or a formula.

**Variable**: A defined name that references an object.

In [7]:
job_title = "Data Analyst"
job_salary = 12000
my_print_function = print

In [8]:
my_print_function(job_title, job_salary)

Data Analyst 12000

In [9]:
#each varible has a unique identifier
id(job_title), id(job_salary), id(my_print_function),

(136913997551088, 136914618457776, 136915051222320)

However, variable that may look the same, but reference difference objects are... different.

In [10]:
job_title1 = "Data Analyst"
job_title2 = "Data Analyst"

#the id of the same object is the same
id(job_title1), id(job_title2)

(136913997909680, 136913997908720)

**Functions: The Manipulators of Objects**

Functions are like custom formulas in Excel.

**Function:** A reusable piece of code that performs a specific task.

The print() we saw already is a function.

In [11]:
#provide functions arguments to print in parenthesis
print("What's up, Data Nerds!")

What's up, Data Nerds!

In [12]:
# I could make this into a function:
def greet():
  return "What's up, Data Nerds!"

In [13]:
greet()

"What's up, Data Nerds!"

In [14]:
# Here's a custom built function that prints our job info nicely:
def display_info(title, location, salary):
  return print(f"Job Title: {title}\nLocation: {location}\nSalary: {salary}")

In [15]:
job_title = "Data Analyst"
job_location = "San Francisco"
job_salary = 12000

display_info(job_title, job_location, job_salary)

Job Title: Data Analyst
Location: San Francisco
Salary: 12000

**Classes: The Template of Objects**

A class is like a template for your records in Excel. It defines the fields that each record will have.

**Class:** A template for creating objects (records).

In [16]:
class JobPost:
  def __init__(self, title, location, salary):
    self.title = title
    self.location = location
    self.salary = salary

  def display_info(self):
    return print(f"Job Title: {self.title}\nLocation: {self.location}\nSalary: {self.salary}")

In [17]:
JobPost

__main__.JobPost

Attributes: The Variables of an Object

Attributes are like the columns in your spreadsheet. Each attribute stores specific data for each record.

**Attribute:** a field in a record, defined by its class.

In [18]:
class JobPost:
  def __init__(self, title, location, salary):
    self.title = title  #Attribute
    self.location = location
    self.salary = salary

  def display_info(self):
    return print(f"Job Title: {self.title}\nLocation: {self.location}\nSalary: {self.salary}")

In [19]:
job = JobPost("Data Analyst", "San Francisco", 12000)

In [20]:
job.title

'Data Analyst'

In [22]:
display_info(job.title, job.location, job.salary)

Job Title: Data Analyst
Location: San Francisco
Salary: 12000

**Methods: The Functions of an Object**
Methods are like the built-in functions in Excel that operate on your records. They define actions that the records can perform.

**Method:** A function defined inside a class that operates on its objects.

In [24]:
job = JobPost("Data Engineer", "Phnon Penh", 15000)
job.display_info()

Job Title: Data Engineer
Location: Phnon Penh
Salary: 15000