<a href="https://colab.research.google.com/github/whatever1262/collab_notebook/blob/main/Variable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Create a Variable

In [ ]:
variable_name = value

In [2]:
base_salary = 10000
bonus = 5000
bonus_rate = 0.1
total_salary = base_salary + bonus
print(total_salary)

15000

In [4]:
base_salary = 10000
bonus_rate = 0.1  # Define bonus_rate here so it's available in the calculation
total_salary = (base_salary)*(1+bonus_rate)
print(total_salary)

11000.0

In [6]:
job_id = 1262
company_name = 'Wing Cambodia'
job_title = 'Data Analyst'
job_salary = 125000
job_work_from_home = False

In [7]:
print("Job ID:      ", job_id)
print("Company Name:", company_name)
print("Job Title:   ", job_title)
print("Salary:      ", job_salary)
print("WFH:         ", job_work_from_home)

Job ID:       1262
Company Name: Wing Cambodia
Job Title:    Data Analyst
Salary:       125000
WFH:          False

We use "def" to easy call...

In [8]:
def display_job_details(job_id, company_name, job_title, job_salary, job_work_from_home):
    return print(f"Job ID:      {job_id}\nCompany Name: {company_name}\nJob Title:   {job_title}\nSalary:      {job_salary}\nWFH:         {job_work_from_home}")

In [9]:
display_job_details(job_id, company_name, job_title, job_salary, job_work_from_home)

Job ID:      1262
Company Name: Wing Cambodia
Job Title:   Data Analyst
Salary:      125000
WFH:         False